html, body {
    height: 100%;
    background-color: #000f16;
    overflow-x: hidden;
    
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    
}

/* Navbar */
#nav {
    background-color: #000f16 !important;
}

.navbar-brand img {
    height: 55px;
    width: 180px;
}

.nav-link{
    color: #000f16;
    margin: 0px 15px;
}

.link-container {
    background-color: #ffffff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

#toggler {
    color: #ffffff !important;
}

/* Footer */
.register-text {
    color: #ffffff;
}

.copyright {
    color: #ffffff;
}