{% load static %}

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer>
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3 register-text">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="text-center">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://en-gb.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/?lang=en" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/m-dixon5/StageScore" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color:#115170">
  <p class="copyright">© 2024 Copyright: Django All The Way</p>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->