{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/stage-score-alt-logo-removebg.png" alt="Stage Score logo (takes you back to homepage)"></a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="link-container">
                    <ul class="navbar-nav" id="nav-links">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'music_blog' %}">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Review</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/signup">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Log In</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>